<%- include("../partials/header") %> 
<div class="container" style="margin: 130px auto; max-width: 400px; border-radius: 1rem; background: rgba(0,0,0,0.1); padding: 20px">
    <h3>Add new comment to <%= campground.name %>  </h3>
    <form action="/campgrounds/<%= campground._id %>/comments " method="POST">
        
        <div class="form-group">
            <textarea class="form-control" type="text" name="comment[text]" placeholder="Comment" autofocus></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </div>
        
        <a href="/campgrounds">Go Back</a>
    </form>
</div>


 <%- include("../partials/footer") %> 