<%- include("../partials/header") %> 
<div class="container" style="margin: 130px auto; max-width: 400px; border-radius: 1rem; background: rgba(0,0,0,0.1); padding: 20px">
    <h3>Add a new Campground</h3>
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <label for="name">CampGround Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>
        <div class="form-group">
            <label for="name">Price:</label>
            <input type="number" class="form-control" id="price" placeholder="Price" name="price" min="0.01" step="0.01">
        </div>
        <div class="form-group">
            <label for="imageURL">Image URL:</label>
            <input type="text" class="form-control" id="imageURL" placeholder="URL" name="image">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </div>
        
        <a href="/campgrounds">Go Back</a>
    </form>
</div>


 <%- include("../partials/footer") %> 